<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>PlutusOSS - Sign Up</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
  <div class="ml-3">
    <h2>Sign up</h2>
    {% block content %}
    <form method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Sign up</button>
    </form>
    <p>Your token: {{ token }}</p>
    {% endblock %}
  </div>
</body>
</html>